@font-face {
    font-family: 'BMJUA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #E9E2DC;
    height: 100%;
    overflow: hidden; /* 스크롤 비활성화 */
}
div{
    /*border: 1px solid;*/
}
h2{
    text-align: center;
    font-style: normal;
    font-family: 'BMJUA',serif;
    font-size: 30px;
    color: rgb(70, 44, 32);
}
.forgot_mail_mailInput{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.forgot_mail_mailInput input{
    width: 250px;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    border: 3px rgb(70, 44, 32) solid;
    font-size: 18px;
    font-style: normal;
    font-family: 'BMJUA',serif;
}
.forgot_mail_nameLabel{
    text-align: center;
    width: 30%;
    font-style: normal;
    font-family: 'BMJUA',serif;
    font-size: 30px;
}
.forgot_mail_nameLabel label{
    font-size: 20px;
    color: rgb(70, 44, 32);
}
.forgot_mail_NicknameInput{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.forgot_mail_NicknameInput input{
    width: 250px;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    border: 3px rgb(70, 44, 32) solid;
    font-size: 18px;
    font-style: normal;
    font-family: 'BMJUA',serif;
}
.forgot_mail_NicknameLabel{
    text-align: center;
    width: 30%;
    font-style: normal;
    font-family: 'BMJUA',serif;
    font-size: 30px;
}
.forgot_mail_NicknameLabel label{
    font-size: 20px;
    color: rgb(70, 44, 32);
}
.forgot_mail_submit{
    padding-top: 5px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.forgot_mail_submit input{
    width: 300px;
    height: 35px;
    background-color: rgb(205, 187, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px rgb(70, 44, 32) solid;
    font-size: 18pt;
    font-family: 'BMJUA',serif;
    font-weight: 70;
    font-style: normal;
    color: rgb(70, 44, 32);
    cursor: pointer;
}
.forgot_mail_submit input:hover{
    width: 300px;
    height: 35px;
    background-color: rgb(70, 44, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px rgb(205, 187, 173) solid;
    font-size: 18pt;
    font-family: 'BMJUA',serif;
    font-weight: 70;
    font-style: normal;
    color: rgb(205, 187, 173);
    cursor: pointer;
}
.forgot_pw_mailInput{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.forgot_pw_mailInput input{
    width: 250px;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    border: 3px rgb(70, 44, 32) solid;
    font-size: 18px;
    font-style: normal;
    font-family: 'BMJUA',serif;
}
.forgot_pw_mailLabel{
    text-align: center;
    width: 30%;
    font-style: normal;
    font-family: 'BMJUA',serif;
    font-size: 30px;
}
.forgot_pw_mailLabel label{
    font-size: 20px;
    color: rgb(70, 44, 32);
}
.forgot_pw_nameInput{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.forgot_pw_nameInput input{
    width: 250px;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    border: 3px rgb(70, 44, 32) solid;
    font-size: 18px;
    font-style: normal;
    font-family: 'BMJUA',serif;
}
.forgot_pw_nameLabel{
    text-align: center;
    width: 30%;
    font-style: normal;
    font-family: 'BMJUA',serif;
    font-size: 30px;
}
.forgot_pw_nameLabel label{
    font-size: 20px;
    color: rgb(70, 44, 32);
}
.forgot_pw_submit{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.forgot_pw_submit input{
    width: 300px;
    height: 35px;
    background-color: rgb(205, 187, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px rgb(70, 44, 32) solid;
    font-size: 18pt;
    font-family: 'BMJUA',serif;
    font-weight: 70;
    font-style: normal;
    color: rgb(70, 44, 32);
    cursor: pointer;
}
.forgot_pw_submit input:hover{
    width: 300px;
    height: 35px;
    background-color: rgb(70, 44, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px rgb(205, 187, 173) solid;
    font-size: 18pt;
    font-family: 'BMJUA',serif;
    font-weight: 70;
    font-style: normal;
    color: rgb(205, 187, 173);
    cursor: pointer;
}
.forgot_result{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'BMJUA',serif;
    font-weight: 70;
    font-style: normal;
    color: rgb(70, 44, 32);
}
.forgot_result p{
    font-size: 20px;
}