@charset "UTF-8";



/*!* 기본 스타일 *!
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica', 'Verdana', sans-serif; !* 고딕체 설정 *!
}*/

/* 컨테이너 설정 */
/*.container {*/
/*    background-color: #fff;*/
/*    color: #000;*/
/*    width: 100vw; !* 전체 화면 너비 *!*/
/*    height: 100vh; !* 전체 화면 높이 *!*/
/*}*/

/* 헤더 스타일 */
/*.header {*/
/*    height: 6vh; !* 화면 비율로 높이 설정 *!*/
/*    background-color: #000;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    line-height: 6vh;*/
/*}*/

/*!* 네비게이션 바 스타일 *!*/
/*.nav {*/
/*    height: 5vh; !* 화면 비율로 높이 설정 *!*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    line-height: 5vh;*/
/*}*/

/*
!* 콘텐츠 영역 *!
.content {
    margin-top: 6vh;
    margin-left: 3vw;
    margin-right: 3vw;
    height: auto;
    border: none;
}

!* 푸터 스타일 *!
.footer {
    height: 10vh; !* 화면 비율로 높이 설정 *!
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 10vh;
}
*/

/* 마이페이지 */
.mypage h1 {
    font-size: 2vw; /* 화면 너비에 비례한 글씨 크기 */
    color: #000;

    margin: 1vh 0;
}


/* 좋아요한 가게 리스트 */
.reservation-list {
    display: flex;
    justify-content: flex-start;
    margin: 1vh 0;
}

.reservation-list h2 {
    font-size: 1.5vw; /* 화면 너비에 비례한 글씨 크기 */
    font-weight: bold;
    color: #000;
}

/* 가게 리스트 스타일 */
.reserv-place-list-field {
    display: flex;
    justify-content: unset;
    border: 1px solid #ddd;
    margin-bottom: 10px; /* vh 대신 px 사용 */
    padding: 20px; /* vh 대신 px 사용 */
    background-color: #f7f7f7;
    border-radius: 5px;
    width: 100%;
}

.reserv-place-list {
    display: contents;
    align-items: center;
}

.reserv-place-list img {
    width: 200px; /* 고정 크기 */
    height: 200px; /* 고정 크기 */
    border-radius: 5px;
    margin-right: 30px; /* vw 대신 px 사용 */
}

/* 가게 정보 텍스트 */
.reserv-place-list div {
    text-align: left;
}

.reserv-place-list h1 {
    font-size: 20px; /* vw 대신 px 사용 */
    color: #000;
}

.reserv-place-list p {
    font-size: 14px; /* vw 대신 px 사용 */
    color: #555;
}

/* 버튼 스타일 */
input[type="button"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px; /* vh와 vw 대신 px 사용 */
    font-size: 14px; /* vw 대신 px 사용 */
    cursor: pointer;
    border-radius: 5px;
}

input[type="button"]:hover {
    background-color: #555;
}


/* 페이지 번호 */
.bottom-list-num {
    text-align: center;
    margin: 1vh 0;
}

.bottom-list-num h2 {
    font-size: 1.5vw; /* 화면 너비에 비례한 글씨 크기 */
    font-weight: bold;
    color: #000;
}

/* 돌아가기 버튼 */
.bottom-return-btn {
    text-align: center;
    margin-top: 1vh;
}

.bottom-return-btn input[type="button"] {
    background-color: #000;
    color: #fff;
    padding: 1vh 2vw;
    font-size: 1vw;
    border-radius: 5px;
}

.bottom-return-btn input[type="button"]:hover {
    background-color: #444;
}
